#fadeIn {
  opacity: 0;
}
#loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 66px;
  margin: auto;
  text-align: center;
}
/* section {
  display: none;
} */
h1, h2, h5, h6 {
  text-align: center;
}
#map {
  height: 300px;
  display: none;
}
#socialRow {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#socialRow img {
  margin-left: auto;
  margin-right: auto;
}
footer {
  color: #666666;
  text-align: center;
  font-size: 0.8em;
  padding-bottom: 10px;
}


/* Botostrap md top */
@media (max-width: 991px) {
  #socialRow {
    width: 100%;
  }
}

/* Bootstrap sm top */
@media (max-width: 768px) {
  tr, td {
    font-size: 0.9em;
  }

}

/* Shrink table more for tiny screens */
@media (max-width: 300px) {
  tr, td {
    font-size: 0.8em;
  }
}
